# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
*.log

# Build & Dist
dist/
build/
.env
.env.local

# Local experiments
automotive/
